.counter{
    margin: 20px;
}

.para{
    font-size: larger;
    font-weight: bold;
}
.button{
    background-color: aqua;
    width: 10%;
    padding: 3px 0px;
    margin-top: 10px;
}

.button:hover{
    background-color: lightgreen;
}